.big-nav {
    height: 160px;
    width: 100%;
    position: absolute;
    background-image: url("images/generic.png");
}

.nav-list {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin-left: 1rem;
    color: aliceblue;
}

@import "reset/reset.scss";